* {
    margin: 0;
    padding: 0;
}

/********************
*   Dev Block
********************/

.easy-slider .easy-slider-wrapper .easy-slider-cards .easy-slider-card {
    box-shadow: 0 0 1px seagreen;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    min-height: 50vh;
    align-items: center;
    display: flex;
}


/********************
* Easy Slider
********************/

.easy-slider {
    display: flex;
    width: 100%;
    background: transparent;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;  
    -khtml-user-select: none;    
    -moz-user-select: none;      
    -ms-user-select: none;       
    user-select: none; 
}

.easy-slider .easy-slider-wrapper {
    width: 100%;
}

.easy-slider .easy-slider-wrapper .easy-slider-list {
    display: flex;
    position: relative;
    overflow: hidden;
}

.easy-slider .easy-slider-wrapper .easy-slider-list .easy-slider-item {
    list-style: none;
    min-height: 200px;
    position: relative;
    margin-right: 0px;
    left: 0;
    min-width: 33.33%;
    transition: 0.5s;
    box-shadow: 0 0 1px #000;
}

.easy-slider .easy-slider-wrapper .easy-slider-list .easy-slider-item img {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.easy-slider  .btn {
    padding: 10px;
    background-color: rgba(0,0,0, 0.2);
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    border: 0;
    cursor: pointer;
}

.easy-slider  .btn-left {
    border-radius: 25px 0 0 25px;
}

.easy-slider  .btn-right {
    border-radius: 0 25px 25px 0;
}